In [52]:
%reload_ext autoreload
%autoreload 2
import sys
print(sys.executable)
module_path = os.path.abspath(os.path.join('..'))

# Add the directory to sys.path
if module_path not in sys.path:
    sys.path.append(module_path)
# Verify kernal path
import numpy as np
import pandas as pd
import os
import requests
from dotenv import load_dotenv
from datetime import datetime
load_dotenv()

/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/venv/bin/python

True

In [53]:
HOPSWORKS_PROJECT_NAME = "taxi_demand_pravachan"
HOPSWORKS_API_KEY = os.getenv("HOPSWORKS_API_KEY")

print(datetime.now().date().strftime('%Y-%m-%d'))

2024-08-05

In [54]:
from src.data import dowload_one_file_of_raw_data

start_date = "2022-08-02"
end_date = datetime.now().date().strftime('%Y-%m-%d')  # current date

prices = dowload_one_file_of_raw_data(symbol='AAPL', start_date=start_date, end_date=end_date) 
prices

dict_keys(['ticker', 'queryCount', 'resultsCount', 'adjusted', 'results', 'status', 'request_id', 'count'])
2024-08-05 22:28:17,402 WARNING: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.

,volume,vw_avr_price,open_price,close_price,high_price,low_price,num_transactions,datetime
0,60362338.0,165.8939,166.37,164.87,167.810,164.20,540017,2022-08-08 04:00:00
1,63075503.0,164.8395,164.02,164.92,165.820,163.25,480552,2022-08-09 04:00:00
2,70170540.0,168.3496,167.68,169.24,169.340,166.90,559789,2022-08-10 04:00:00
3,57142109.0,169.3737,170.06,168.49,170.990,168.19,507914,2022-08-11 04:00:00
4,68039382.0,171.0754,169.82,172.10,172.170,169.40,557624,2022-08-12 04:00:00
...,...,...,...,...,...,...,...,...
495,35153729.0,218.1319,216.96,218.24,219.300,215.75,604680,2024-07-29 04:00:00
496,40681625.0,218.4059,219.19,218.80,220.325,216.12,584305,2024-07-30 04:00:00
497,48422974.0,222.3441,221.44,222.08,223.820,220.63,668833,2024-07-31 04:00:00
498,61125243.0,219.4773,224.37,218.36,224.480,217.02,876046,2024-08-01 04:00:00
499,102635321.0,221.9519,219.15,219.86,225.600,217.71,1132479,2024-08-02 04:00:00

In [47]:
from src.data import transform_raw_data_into_ts_data

ts_prices= transform_raw_data_into_ts_data(prices, start_date, end_date)
ts_prices

MISSING DATES

/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/venv/lib/python3.12/site-packages/IPython/core/formatters.py:347: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,volume,vw_avr_price,open_price,close_price,high_price,low_price,num_transactions,datetime,SMA_5,SMA_20,EMA_5,EMA_20,vol_5,daily_return,price_diff,volume_sma_5,volume_change
0,60362338.0,165.8939,166.37,164.87,167.81,164.20,540017.0,2022-08-02 00:00:00,164.870000,168.983000,164.870000,164.870000,0.000000,0.000000,0.00,60362338.0,0.000000
1,60362338.0,165.8939,166.37,164.87,167.81,164.20,540017.0,2022-08-03 00:00:00,164.870000,168.983000,164.870000,164.870000,0.000000,0.000000,0.00,60362338.0,0.000000
2,60362338.0,165.8939,166.37,164.87,167.81,164.20,540017.0,2022-08-04 00:00:00,164.870000,168.983000,164.870000,164.870000,0.000000,0.000000,0.00,60362338.0,0.000000
3,60362338.0,165.8939,166.37,164.87,167.81,164.20,540017.0,2022-08-05 00:00:00,164.870000,168.983000,164.870000,164.870000,0.000000,0.000000,0.00,60362338.0,0.000000
4,60362338.0,165.8939,166.37,164.87,167.81,164.20,540017.0,2022-08-06 00:00:00,164.870000,168.983000,164.870000,164.870000,0.000000,0.000000,0.00,60362338.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,61125243.0,219.4773,224.37,218.36,224.48,217.02,876046.0,2024-08-01 04:00:00,219.125333,223.822000,219.360419,221.406950,1.670571,-0.016751,-3.72,44419054.4,0.262319
731,102635321.0,221.9519,219.15,219.86,225.60,217.71,1132479.0,2024-08-02 04:00:00,219.468000,223.223667,219.526946,221.259622,1.593587,0.006869,1.50,57603778.4,0.679099
732,102635321.0,221.9519,219.15,219.86,225.60,217.71,1132479.0,2024-08-03 00:00:00,219.792000,222.561000,219.637964,221.126324,1.438652,0.000000,0.00,71100096.8,0.000000
733,102635321.0,221.9519,219.15,219.86,225.60,217.71,1132479.0,2024-08-04 00:00:00,220.004000,221.834000,219.711976,221.005722,1.329917,0.000000,0.00,83490836.0,0.000000
734,102635321.0,221.9519,219.15,219.86,225.60,217.71,1132479.0,2024-08-05 00:00:00,219.560000,221.086000,219.761317,220.896606,0.670820,0.000000,0.00,94333305.4,0.000000

In [48]:
import hopsworks  
# creating hopsworks-project by passing project name and api-key
project = hopsworks.login(project=HOPSWORKS_PROJECT_NAME, api_key_value=HOPSWORKS_API_KEY)

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/835736

In [49]:
# hopsworks-project.get-feature-store() gets pointer to the feature store
feature_store = project.get_feature_store()

2024-08-05 16:02:48,142 WARNING: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead

2024-08-05 16:02:48,142 WARNING: using legacy validation callback
Connected. Call `.close()` to terminate connection gracefully.

In [50]:
FEATURE_GROUP_NAME = "time_series_daily_feature_group"
FEATURE_GROUP_VERSION =  3  # name and version of feature group

# creating feature-group-obj feature-store-obj.create()
# primary-key: unique identifier for each row in data
# event-time: is the column that stores the tiemstamp behind those events
feature_group = feature_store.get_or_create_feature_group(
    name=FEATURE_GROUP_NAME,
    version=FEATURE_GROUP_VERSION,
    description="Time-series data at daily frequency!",
    primary_key=["datetime"],
    event_time="datetime",
)

In [51]:
# save time-series data  to feature-group
feature_group.insert(ts_prices, write_options={"wait_for_job":False})

2024-08-05 16:08:50,984 WARNING: FeatureGroupWarning: The ingested dataframe contains upper case letters in feature names: `['SMA_5', 'SMA_20', 'EMA_5', 'EMA_20']`. Feature names are sanitized to lower case in the feature store.

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/835736/fs/831559/fg/1072468

Uploading Dataframe: 0.00% |          | Rows 0/735 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: time_series_daily_feature_group_3_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/835736/jobs/named/time_series_daily_feature_group_3_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x121df4e90>, None)