In [1]:
%reload_ext autoreload
%autoreload 2
import sys, os
print(sys.executable)
module_path = os.path.abspath(os.path.join('..'))

# Add the directory to sys.path
if module_path not in sys.path:
    sys.path.append(module_path)
# Verify kernal path
import numpy as np
import pandas as pd
import requests
from dotenv import load_dotenv
from datetime import datetime
load_dotenv()

/Users/pravachanpatra/Documents/PYTHON/AI_ML_DL/Stock_Price_Predictor/venv/bin/python

True

In [2]:
import src.config as config
from src.data import dowload_one_file_of_raw_data
from datetime import datetime, timedelta

# get end-date as current date because we want the most recent data when we run pipeline
# get start-date as 2 years back because api limits the amount of data we can get.
end_date = datetime.now().date().strftime('%Y-%m-%d')

end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')

start_date_datetime = end_date_datetime - timedelta(days=2*365)

start_date = start_date_datetime.strftime('%Y-%m-%d')

prices = dowload_one_file_of_raw_data(symbol='AAPL', start_date=start_date, end_date=end_date) 
print(start_date, end_date)
prices

dict_keys(['ticker', 'queryCount', 'resultsCount', 'adjusted', 'results', 'status', 'request_id', 'count'])
2022-08-20 2024-08-19

,volume,vw_avr_price,open_price,close_price,high_price,low_price,num_transactions,datetime
0,68975809.0,168.2677,169.69,167.57,169.8600,167.1350,620800,2022-08-22 04:00:00
1,54147079.0,167.6231,167.08,167.23,168.7100,166.6500,494686,2022-08-23 04:00:00
2,53841524.0,167.3144,167.32,167.53,168.1100,166.2450,476970,2022-08-24 04:00:00
3,51218209.0,169.3503,168.78,170.03,170.1400,168.3500,465398,2022-08-25 04:00:00
4,78960980.0,165.9997,170.57,163.62,171.0500,163.5600,722008,2022-08-26 04:00:00
...,...,...,...,...,...,...,...,...
495,36533169.0,217.5472,216.07,217.53,219.5099,215.6000,602475,2024-08-12 04:00:00
496,42281135.0,220.8583,219.01,221.27,221.8900,219.0100,553206,2024-08-13 04:00:00
497,40535664.0,221.5032,220.57,221.72,223.0300,219.7000,568467,2024-08-14 04:00:00
498,44961298.0,224.5450,224.60,224.72,225.3500,222.7600,590509,2024-08-15 04:00:00
499,42388970.0,225.4078,223.92,226.05,226.8271,223.6501,562568,2024-08-16 04:00:00

In [3]:
from src.data import transform_raw_data_into_ts_data

ts_prices= transform_raw_data_into_ts_data(prices, start_date, end_date)
ts_prices

,volume,vw_avr_price,open_price,close_price,high_price,low_price,num_transactions,datetime,sma_5,sma_20,ema_5,ema_20,vol_5,daily_return,price_diff,volume_sma_5,volume_change
0,68975809.0,168.2677,169.69,167.57,169.8600,167.1350,620800.0,2022-08-20 00:00:00,167.494,160.893000,167.570000,167.570000,0.148593,0.000000,0.00,62983206.0,0.000000
1,68975809.0,168.2677,169.69,167.57,169.8600,167.1350,620800.0,2022-08-21 00:00:00,167.494,160.893000,167.570000,167.570000,0.148593,0.000000,0.00,62983206.0,0.000000
2,68975809.0,168.2677,169.69,167.57,169.8600,167.1350,620800.0,2022-08-22 04:00:00,167.494,160.893000,167.570000,167.570000,0.148593,0.000000,0.00,62983206.0,0.000000
3,54147079.0,167.6231,167.08,167.23,168.7100,166.6500,494686.0,2022-08-23 04:00:00,167.494,160.893000,167.456667,167.537619,0.148593,-0.002029,-0.34,62983206.0,-0.214985
4,53841524.0,167.3144,167.32,167.53,168.1100,166.2450,476970.0,2022-08-24 04:00:00,167.494,160.893000,167.481111,167.536893,0.148593,0.001794,0.30,62983206.0,-0.005643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,44961298.0,224.5450,224.60,224.72,225.3500,222.7600,590509.0,2024-08-15 04:00:00,220.468,216.877500,220.977326,218.337165,3.172754,0.013531,3.00,40450977.8,0.109179
727,42388970.0,225.4078,223.92,226.05,226.8271,223.6501,562568.0,2024-08-16 04:00:00,222.258,217.277333,222.668217,219.071721,3.318896,0.005918,1.33,41340047.2,-0.057212
728,42388970.0,225.4078,223.92,226.05,226.8271,223.6501,562568.0,2024-08-17 00:00:00,223.962,217.672500,223.795478,219.736319,2.322040,0.000000,0.00,42511207.4,0.000000
729,42388970.0,225.4078,223.92,226.05,226.8271,223.6501,562568.0,2024-08-18 00:00:00,224.918,218.063000,224.546986,220.337622,1.878209,0.000000,0.00,42532774.4,0.000000
730,42388970.0,225.4078,223.92,226.05,226.8271,223.6501,562568.0,2024-08-19 00:00:00,225.784,218.425500,225.047990,220.881658,0.594794,0.000000,0.00,42903435.6,0.000000

In [4]:
import hopsworks

# connect to the project, using created api/project
project = hopsworks.login(
    project=config.HOPSWORKS_PROJECT_NAME,
    api_key_value=config.HOPSWORKS_API_KEY
)

# connect to the feature store
feature_store = project.get_feature_store()

# connect to the feature group
feature_group = feature_store.get_or_create_feature_group(
    name=config.FEATURE_GROUP_NAME,
    version=config.FEATURE_GROUP_VERSION,
    description="Time-series data at hourly frequency",
    primary_key = ['datetime'],
    event_time='datetime',
)

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/835736
2024-08-19 22:04:53,705 WARNING: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead

2024-08-19 22:04:53,706 WARNING: using legacy validation callback
Connected. Call `.close()` to terminate connection gracefully.

In [5]:
feature_group.insert(ts_prices, write_options={"wait_for_job": True}) # save data to feature-group in hopsworks

Uploading Dataframe: 0.00% |          | Rows 0/731 | Elapsed Time: 00:00 | Remaining Time: ?

Launching job: time_series_daily_feature_group_3_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/835736/jobs/named/time_series_daily_feature_group_3_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1798db0e0>, None)